/* system typefaces */
$serif                        : Georgia, Times, serif !default;
$sans-serif                   : -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace                    : Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow            : $sans-serif !default;
$helvetica                    : Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia                      : Georgia, serif !default;
$times                        : Times, serif !default;
$bodoni                       : "Bodoni MT", serif !default;
$calisto                      : "Calisto MT", serif !default;
$garamond                     : Garamond, serif !default;

$global-font-family           : $sans-serif !default;
$header-font-family           : $sans-serif !default;
$caption-font-family          : $serif !default;

/* type scale */
$type-size-1                  : 48px !default;  
$type-size-2                  : 40px !default; 
$type-size-3                  : 32px !default;
$type-size-4                  : 26px !default;
$type-size-5                  : 20px !default;
$type-size-6                  : 18px !default
$type-size-7                  : 14px !default;
$type-size-8                  : 10px !default;

$font-size-base:          18px !default; 
$font-size-large:         ceil(($font-size-base * 1.25)) !default;
$font-size-small:         ceil(($font-size-base * 0.85)) !default;
 
$font-size-h1:            56px !default; 
$font-size-h2:            45px !default; 
$font-size-h3:            34px !default; 
$font-size-h4:            24px !default; 
$font-size-h5:            20px !default; 
$font-size-h6:            14px !default;